body{ 
    background-color: ivory; 
}

canvas{
    float: left;
    border:1px solid red;
}

#ImagesLayOut{
  width: 80%;
  float: left;
}

#toolbar{
    width:  8%;
    
    border:solid 1px blue;
    float: left;
}

#BtnGroup{
  width:  10%;
  float: left;
}

.sidenav {
  float: left;
  width: 70%;
  /* position: fixed;
  z-index: 1; */
  bottom: 0;
  left: 0;
  background-color: #c3b9b9;
  border:1px solid black;
  /* overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; */
}
/*   
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */